
.blue-banner{
    background-color: rgb(0, 83, 139);
    color: #fff;
    padding: 10px 20px;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display:block;
    
    
}
h1,h4{
    margin-top: 0;
}
label{
    display: block;
}
.input-fields{
    display: flex;
}

